<script type='text/javascript'>
  blocmetrics.report('User View');
</script>
<h1><% if @user.premium? %>
    <span class='glyphicon glyphicon-star' style="color: #fc0;"></span>
  <% end %>
  <% if @user.admin? %>
    <span class='glyphicon glyphicon-cog' style="color: #c00;"></span>
  <% end %><%= @user.name %></h1>
<div class="row">
  <div class="col-md-4">
    <h3>Public Wikis</h3>
    <ul>
      <% Wiki.where(user: @user, public: true).each do |wiki| %>
        <li><%= link_to wiki.title, wiki_path(wiki) %></li>
      <% end %>
    </ul>
  </div>
  <div class="col-md-4">
    <% if @user == current_user %>
      <% if !(current_user.standard?) %><div><% else %><div class="inactive"><% end %>
        <h3>Private Wikis</h3>
        <ul>
          <% Wiki.where(user: @user, public: false).each do |wiki| %>
            <li><%= link_to wiki.title, wiki_path(wiki) %></li>
          <% end %>
          <% if current_user.standard? %><li>upgrade required</li><% end %>
        </ul>
      </div>
      <% if !(Collaborator.where(user: @user).empty?) %>
        <div>
          <h3>Private Collaborations</h3>
          <ul>
            <% Collaborator.where(user: @user).each do |collab| %>
              <li><%= link_to Wiki.where(id: collab.wiki).first.title, wiki_path(collab.wiki) %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="col-md-4">
    <% if @user == current_user %>
      <%= link_to "New Wiki", new_wiki_path, class: 'btn btn-primary' %>
      <% if current_user.standard? %>
        <%= link_to 'Upgrade Account', new_subscription_path, class: 'btn btn-warning' %>
      <% end %>
      <% if current_user.premium? %>
      <%= link_to 'Downgrade Account', subscription_path, class: 'btn btn-danger',
          data: {confirm: 'Downgrading your account will end your subscription, and
            make all your private wikis public.  Are you sure?'}, method: :delete %>
      <% end %>
    <% end %>
  </div>
</div>
