<h1><%= @user.name %></h1>
<div class="row">
  <div class="col-md-4">
    <h3>Public Wikis</h3>
    <ul>
      <% Wiki.where(user: @user, public: true).each do |wiki| %>
        <li><%= link_to wiki.title, wiki_path(wiki.id) %></li>
      <% end %>
    </ul>
  </div>
  <div class="col-md-4">
    <% if current_user.premium? %><div><% else %><div class="inactive"><% end %>
      <h3>Private Wikis</h3>
      <ul>
        <% Wiki.where(user: @user, public: false).each do |wiki| %>
          <li><%= link_to wiki.title, wiki_path(wiki.id) %></li>
        <% end %>
        <% if current_user.standard? %><li>upgrade required</li><% end %>
      </ul>
    </div>
  </div>
  <div class="col-md-4">
    <%= link_to "New Wiki", new_wiki_path, class: 'btn btn-primary' %>
    <% if current_user.standard? %>
      <%= link_to 'Upgrade Account', '/charges/new/', class: 'btn btn-warning' %>
    <% end %>
    <% if current_user.premium? %>
      <%= link_to 'Downgrade Account', downgrade_account_path, class: 'btn btn-danger',
        data: {confirm: 'Downgrading your account will end your subscription, and
          make all your private wikis public.  Are you sure?'} %>
    <% end %>
  </div>
</div>
